* {
  margin: 0;
  padding: 0;
}

.login {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .logo {
    img {
      width: 20em;
      margin: 1em;
      cursor: pointer;
    }
  }

  form {
    background-color: #7a7ace;
    padding: 3em;
    border-radius: 5px;
    display: flex;
    flex-direction: column;

    .form-group {
      margin-bottom: 2em;

      label {
        color: whitesmoke;
      }

      input {
        background-color: whitesmoke;
        border: none;
        border-radius: 5px;
        margin-left: 1em;
        padding: 0.5em;
      }
    }

    button {
      width: 100%;
      border: none;
      border-radius: 5px;
      padding: 0.5em;
      background-color: whitesmoke;
      transition: background-color ease-in 1ms;

      &:hover {
        background-color: #6565b2;
        color: whitesmoke;
        transition: background-color ease-in 1ms;
      }
    }
  }
}
